body {
	background-image: url(../images/whitediamond/whitediamond.png);
}

#map {
	position: sticky;
	top:0;
	width: 100%;
	height: 400px;	
}

#loading-gif{
	position: absolute;
	width:30%;
	height: auto;
	left: 35%;
	top: 100px;
}

.loading-gif-wrapper {
	z-index: 5;
	background: white;
	position: absolute;
	width: 100%;
	height: 100%;
}

.loading-gif-wrapper h3 {
	position: absolute;
	width: 100%;
	text-align: center;
}

 html {
	position: relative;
	min-height: 100%;
}

body{
	background-image: url(../images/whitediamond/whitediamond.png);
	margin: 0 0 100px;
	bottom: 60px;
}

.navbar-brand{
	font-size: 40px;
}

li a {
	font-size: 16px;
}

#map {
	width: 100%;
	height: 400px;
}

.lower-main{
	background-color: #fff;
}

.footer{
	background-color: #343a40;
	color: #fff;

	text-align: center;
	
	height: 60px;
	line-height: 60px;
	bottom: 0;
	width: 100%;

	position: absolute;
	
	font-size: 16px;
}

.textBack{
	background-color: #f6f6f6;
}

.carousel-item-2 {
	color: black;
}

.carousel-img-2 {
	opacity: .5;
}

.carousel-img-3 {
	opacity: .7;
}

.gas-station-comment{
	color: darkblue;
}


